@using Universidad.Presentacion.Web.ViewModels.HomeVM
@model IndexViewModel

@{
    ViewBag.Title = "Principal";
}

<div class="row">
    <div class="col-12">
        <h3>Pagina Principal</h3>
    </div>
</div>
